<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/css/couponManagement.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <title>coupon-management</title>
</head>

<body>

    <div class="whole">
        <%- include('../partials/admin/menu') %>
            <div class="main">

                <div class="content  ">
                    <%if(!authority){%>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn bg-success  addcategory" data-toggle="modal"
                            data-target="#addcoupons">
                            <img src="/admin/images/plus.png" style=" margin-right: 10px;" alt=""><span class="add">Add
                                coupons</span>
                        </button>

                        <div class="modal fade" id="addcoupons" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Coupons</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="add" action="/admin/addCoupon" method="POST">
                                        <div class="modal-body">

                                            <div class="form-group">
                                                <label for="Code">Code:</label>
                                                <input type="text" class="form-control" id="Code" name="Code">
                                                <div class="error" id="CodeError"> </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="Min_purchase_amount">Min Purchase Amount:</label>
                                                <input type="number" class="form-control" id="Min_purchase_amount"
                                                    name="Min_purchase_amount">
                                                <div class="error" id="minError"> </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="Max_discount_value">Max Purchase Value:</label>
                                                <input type="number" class="form-control" id="Max_purchase_amount"
                                                    name="Max_purchase_amount">
                                                <div class="error" id="maxError"> </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="Start_date">Start Date:</label>
                                                <input type="date" class="form-control" id="Start_date"
                                                    name="Start_date">
                                                <div class="error" id="strDateError"> </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="Expiration_date">Expiration Date:</label>
                                                <input type="date" class="form-control" id="Expiration_date"
                                                    name="Expiration_date">
                                                <div class="error" id="expDateError"> </div>
                                            </div>





                                            <div class="form-group">
                                                <label for="Max_usage_count">Max Usage Count:</label>
                                                <input type="number" class="form-control" id="Max_usage_count"
                                                    name="Max_usage_count">
                                                <div class="error" id="maxCountError"> </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="Discount_value">Discount Value:</label>
                                                <input type="number" class="form-control" id="Discount_value"
                                                    name="Discount_value">
                                                <div class="error" id="discountError"> </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" name="submit" class="btn btn-success">Add
                                                Coupon</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <%}%>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Coupon Code</th>
                                        <th scope="col">Discount</th>
                                        <th scope="col">Min</th>
                                        <th scope="col">Max</th>
                                        <th scope="col">Start</th>
                                        <th scope="col">Expiry</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Created</th>
                                        <%if(!authority){%>
                                            <th scope="col">
                                                Actions</th>
                                            <th scope="col"></th>
                                            <%}%>
                                    </tr>
                                </thead>
                                <% coupons.forEach((value,index)=> { %>


                                    <tbody>


                                        <tr>
                                            <th scope="row">
                                                <%=index+1%>
                                            </th>

                                            <td>
                                                <%=value.Code%>
                                            </td>
                                            <td>
                                                <%=value. Discount_value%>%
                                            </td>
                                            <td>
                                                ₹ <%=value. Min_purchase_amount%>
                                            </td>
                                            <td> ₹<%=value.Max_discount_value%>
                                            </td>
                                            <td>

                                                <%- new Date(value.Start_date).toLocaleDateString('en-GB', {
                                                    day: '2-digit' , month: '2-digit' , year: 'numeric' }) %>
                                            </td>
                                            <td>

                                                <%- new Date(value.Expiration_date).toLocaleDateString('en-GB', {
                                                    day: '2-digit' , month: '2-digit' , year: 'numeric' }) %>
                                            </td>
                                            <%if(value.Is_active==true){%>
                                                <td
                                                    style="width: 100px; height: 35px; display: flex; justify-content: center;align-items: center; background-color: green !important;margin-top: 7px; color: white;">
                                                    active</td>

                                                <%}else{%>
                                                    <td
                                                        style="width: 100px; height: 35px; display: flex; justify-content: center;align-items: center; background-color: red !important;margin-top: 7px; color: white;">
                                                        expired</td>

                                                    <%}%>
                                                        <td>

                                                            <%- new Date(value.created).toLocaleDateString('en-GB', {
                                                                day: '2-digit' , month: '2-digit' , year: 'numeric' })
                                                                %>
                                                        </td>
                                                        <%if(!authority){%>
                                                            <td>
                                                                <div class="modal fade" id="editcoupons<%=value._id%>"
                                                                    tabindex="-1" role="dialog"
                                                                    aria-labelledby="exampleModalCenterTitle"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered"
                                                                        role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title"
                                                                                    id="exampleModalLongTitle">
                                                                                    Coupons</h5>
                                                                                <button type="button" class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close">
                                                                                    <span
                                                                                        aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <form id="edit"
                                                                                action="/admin/editCoupon/<%=value._id%>"
                                                                                method="POST"
                                                                                data-form-index="<%= index %>">
                                                                                <div class="modal-body">

                                                                                    <div class="form-group">
                                                                                        <label for="Code">Code:</label>
                                                                                        <input type="text"
                                                                                            class="form-control"
                                                                                            id="Code1<%= index %>"
                                                                                            value=" <%=value.Code%>"
                                                                                            name="Code">
                                                                                        <div class="error"
                                                                                            id="CodeError1<%= index %>">
                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="form-group">
                                                                                        <label
                                                                                            for="Min_purchase_amount">Min
                                                                                            Purchase Amount:</label>
                                                                                        <input type="number"
                                                                                            value="<%=value.Min_purchase_amount%>"
                                                                                            class="form-control"
                                                                                            id="Min_purchase_amount1<%= index %>"
                                                                                            name="Min_purchase_amount">
                                                                                        <div class="error"
                                                                                            id="minError1<%= index %>">
                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="form-group">
                                                                                        <label
                                                                                            for="Max_discount_value">Max
                                                                                            Purchase
                                                                                            Value:</label>
                                                                                        <input type="number"
                                                                                            value="<%=value.Max_discount_value%>"
                                                                                            class="form-control"
                                                                                            id="Max_purchase_amount1<%= index %>"
                                                                                            name="Max_purchase_amount">
                                                                                        <div class="error"
                                                                                            id="maxError1<%= index %>">
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <label for="Start_date">Start
                                                                                            Date:</label>
                                                                                        <input type="date"
                                                                                            class="form-control"
                                                                                            id="Start_date1<%= index %>"
                                                                                            name="Start_date"
                                                                                            value="<%= new Date(value.Start_date).toISOString().split('T')[0] %>">
                                                                                        <div class="error"
                                                                                            id="strDateError1<%= index %>">
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <label
                                                                                            for="Expiration_date">Expiration
                                                                                            Date:</label>
                                                                                        <input type="date"
                                                                                            class="form-control"
                                                                                            id="Expiration_date1<%= index %>"
                                                                                            name="Expiration_date"
                                                                                            value="<%= new Date(value.Expiration_date).toISOString().split('T')[0] %>">
                                                                                        <div class="error"
                                                                                            id="expDateError1<%= index %>">
                                                                                        </div>
                                                                                    </div>





                                                                                    <div class="form-group">
                                                                                        <label for="Max_usage_count">Max
                                                                                            Usage
                                                                                            Count:</label>
                                                                                        <input type="number"
                                                                                            class="form-control"
                                                                                            id="Max_usage_count1<%= index %>"
                                                                                            name="Max_usage_count"
                                                                                            value="<%=value.Max_usage_count%>">
                                                                                        <div class="error"
                                                                                            id="maxCountError1<%= index %>">
                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="form-group">
                                                                                        <label
                                                                                            for="Discount_value">Discount
                                                                                            Value:</label>
                                                                                        <input type="number"
                                                                                            class="form-control"
                                                                                            id="Discount_value1<%= index %>"
                                                                                            name="Discount_value"
                                                                                            value="<%=value.Discount_value%>">
                                                                                        <div class="error"
                                                                                            id="discountError1<%= index %>">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-dismiss="modal">Close</button>
                                                                                    <button type="submit" name="submit"
                                                                                        class="btn btn-success">Edit
                                                                                        coupon</button>

                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </td>
                                                            <td>
                                                                <button class="btn btn-sm" data-toggle="modal"
                                                                    data-target="#editcoupons<%=value._id%>">
                                                                    <img src="/admin/images/edit.png" alt="" width="12"
                                                                        height="12">
                                                                </button>
                                                            </td>
                                                            <td>











                </div>
                <div class="modal fade" id="deletecoupon<%=value._id%>" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Coupons</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/admin/deleteCoupon/<%=value._id%>" method="POST">
                                <div class="modal-body">

                                    Are you sure to delete <%=value.Code%>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" name="submit" class="btn btn-danger">Delete
                                            </button>
                                        </div>
                            </form>
                        </div>
                    </div>
                </div>
                <td>
                    <button class="btn btn-sm" data-toggle="modal" data-target="#deletecoupon<%=value._id%>">
                        <img src="/admin/images/delete.png" alt="" width="12" height="12">
                    </button>
                </td>


                <%}%>


                    </tr>

                    </tbody>
                    <% }) %>
                        </table>
            </div>
            <div id="snackbar">
                <%=error%>
            </div>
    </div>







    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        if ('<%=error%>' !== 'false') {
            function myFunction() {
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }
            myFunction()
        }
        document.querySelectorAll("#edit").forEach(function (form) {
            form.addEventListener("submit", function (event) {
                const modalIndex = form.getAttribute("data-form-index");
                function isNullOrEmpty(value) {
                    const trimmedValue = value.trim();
                    return trimmedValue === "";
                }

                function isDateBeforeToday(date) {
                    const currentDate = new Date();
                    const inputDate = new Date(date);
                    currentDate.setHours(0, 0, 0, 0);
                    inputDate.setHours(0, 0, 0, 0);

                    return inputDate < currentDate;
                }

                function isMaxLessThanMin(min, max) {
                    return min > max;
                }

                function isDateBefore(date1, date2) {
                    const firstDate = new Date(date1);
                    const secondDate = new Date(date2);
                    firstDate.setHours(0, 0, 0, 0);
                    secondDate.setHours(0, 0, 0, 0);

                    return firstDate > secondDate;
                }

                function isNegative(value) {
                    return value < 0;
                }

                function isGreaterThanHundred(value) {
                    return value > 100;
                }

                const promoCode = document.getElementById('Code1' + modalIndex);
                const promoCodeValue = promoCode.value;

                const promoCodeError = document.getElementById('CodeError1' + modalIndex);

                const minPurchaseAmount = document.getElementById('Min_purchase_amount1' + modalIndex);
                const minPurchaseAmountValue = minPurchaseAmount.value;
                const minError = document.getElementById('minError1' + modalIndex);

                const maxPurchaseAmount = document.getElementById('Max_purchase_amount1' + modalIndex);
                const maxPurchaseAmountValue = maxPurchaseAmount.value;
                const maxError = document.getElementById('maxError1' + modalIndex);

                const expirationDate = document.getElementById('Expiration_date1' + modalIndex);
                const expirationDateValue = expirationDate.value;
                const expDateError = document.getElementById('expDateError1' + modalIndex);

                const startDate = document.getElementById('Start_date1' + modalIndex);
                const startDateValue = startDate.value;
                const startDateError = document.getElementById('strDateError1' + modalIndex);

                const maxUsageCount = document.getElementById('Max_usage_count1' + modalIndex);
                const maxUsageCountValue = maxUsageCount.value;
                const maxCountError = document.getElementById('maxCountError1' + modalIndex);

                const discountValue = document.getElementById('Discount_value1' + modalIndex);
                const discountValueValue = discountValue.value;
                const discountError = document.getElementById('discountError1' + modalIndex);

                promoCodeError.textContent = "";
                minError.textContent = "";
                maxError.textContent = "";
                expDateError.textContent = "";
                startDateError.textContent = "";
                maxCountError.textContent = "";
                discountError.textContent = "";

                if (isNullOrEmpty(promoCodeValue)) {

                    promoCodeError.textContent = " Promo code field can't be empty";
                    event.preventDefault();
                }
                if (isNullOrEmpty(minPurchaseAmountValue)) {
                    minError.textContent = "Min purchase amount field can't be empty";
                    event.preventDefault();
                }
                if (isNegative(minPurchaseAmountValue)) {
                    minError.textContent = "Min purchase amount field can't be less than 0";
                    event.preventDefault();
                }
                if (isNullOrEmpty(maxPurchaseAmountValue)) {
                    maxError.textContent = "Max purchase amount field can't be empty";
                    event.preventDefault();
                }
                if (isMaxLessThanMin(Number(minPurchaseAmountValue), Number(maxPurchaseAmountValue))) {

                    maxError.textContent = "Max purchase amount can't be less than Min amount";
                    event.preventDefault();
                }
                if (isNegative(maxPurchaseAmountValue)) {
                    maxError.textContent = "Max purchase amount field can't be less than 0";
                    event.preventDefault();
                }
                if (isNullOrEmpty(startDateValue)) {
                    startDateError.textContent = "Starting date field can't be empty";
                    event.preventDefault();
                }
                if (isDateBeforeToday(startDateValue)) {
                    startDateError.textContent = "Not a valid date";
                    event.preventDefault();
                }
                if (isNullOrEmpty(expirationDateValue)) {
                    expDateError.textContent = "Expiration date field can't be empty";
                    event.preventDefault();
                }
                if (isDateBeforeToday(expirationDateValue)) {
                    expDateError.textContent = "Not a valid date";
                    event.preventDefault();
                }
                if (isDateBefore(startDateValue, expirationDateValue)) {
                    expDateError.textContent = "Expiration date can't be before start date";
                    event.preventDefault();
                }
                if (isNullOrEmpty(maxUsageCountValue)) {
                    maxCountError.textContent = "Max usage field can't be empty";
                    event.preventDefault();
                }
                if (isNegative(maxUsageCountValue)) {
                    maxCountError.textContent = "Usage count field can't be less than 0";
                    event.preventDefault();
                }
                if (isNullOrEmpty(discountValueValue)) {
                    discountError.textContent = "Discount value field can't be empty";
                    event.preventDefault();
                }
                if (isNegative(discountValueValue)) {
                    discountError.textContent = "Discount value can't be less than 0";
                    event.preventDefault();
                }
            });
        });
    </script>
    <script>
        document.querySelector("#add").addEventListener("submit", function (event) {
            function isEmpty(value) {
                const trimmedValue = value.trim();
                return trimmedValue === "";
            }
            function isDateBeforeToday(date) {
                const currentDate = new Date();
                const inputDate = new Date(date);
                currentDate.setHours(0, 0, 0, 0);
                inputDate.setHours(0, 0, 0, 0);

                return inputDate < currentDate;
            }


            function isDateBefore(date1, date2) {
                const firstDate = new Date(date1);
                const secondDate = new Date(date2);
                firstDate.setHours(0, 0, 0, 0);
                secondDate.setHours(0, 0, 0, 0);

                return firstDate > secondDate;
            }
            function isValueLessThanZero(value) {
                return value < 0;
            }
            function isValuegreaterThanhundred(value) {
                return value < 0;
            }

            const code = document.getElementById('Code');
            const codeValue = code.value;
            const codeError = document.getElementById('CodeError');


            const Min_purchase_amount = document.getElementById('Min_purchase_amount');
            const Min_purchase_amountValue = Min_purchase_amount.value;
            const minError = document.getElementById('minError');

            const Max_purchase_amount = document.getElementById('Max_purchase_amount');
            const Max_purchase_amountValue = Max_purchase_amount.value;
            const maxError = document.getElementById('maxError');

            const Expiration_date = document.getElementById('Expiration_date');
            const Expiration_dateValue = Expiration_date.value;
            const expDateError = document.getElementById('expDateError');

            const Start_date = document.getElementById('Start_date');
            const Start_dateValue = Start_date.value;
            const strDateError = document.getElementById('strDateError');

            const Max_usage_count = document.getElementById('Max_usage_count');
            const Max_usage_countValue = Max_usage_count.value;
            const maxCountError = document.getElementById('maxCountError');

            const Discount_value = document.getElementById('Discount_value');
            const Discount_valueValue = Discount_value.value;
            const discountError = document.getElementById('discountError');


            codeError.textContent = "";
            minError.textContent = "";
            maxError.textContent = "";
            expDateError.textContent = "";
            Start_date.textContent = "";
            maxCountError.textContent = "";
            discountError.textContent = "";

            if (isEmpty(codeValue)) {
                codeError.textContent = " code field can't be empty";
                event.preventDefault();
            }
            if (isEmpty(Min_purchase_amountValue)) {
                minError.textContent = "min purchase amount field can't be empty";
                event.preventDefault();
            }
            if (isValueLessThanZero(Min_purchase_amountValue)) {
                minError.textContent = "min purchase amount field can't be less than 0";
                event.preventDefault();
            }
            if (isEmpty(Max_purchase_amountValue)) {
                maxError.textContent = "max purchase amount field can't be empty";
                event.preventDefault();
            }
            if (Number(Min_purchase_amountValue) > Number(Max_purchase_amountValue)) {

                maxError.textContent = "max purchase amount  can't be less than min amount";
                event.preventDefault();
            }

            if (isValueLessThanZero(Max_purchase_amountValue)) {
                maxError.textContent = "max purchase amount field can't be less than 0";
                event.preventDefault();
            }
            if (isEmpty(Start_dateValue)) {
                strDateError.textContent = " starting date field can't be empty";
                event.preventDefault();
            }
            if (isDateBeforeToday(Start_dateValue)) {
                strDateError.textContent = "not a valida date";
                event.preventDefault();
            }

            if (isEmpty(Expiration_dateValue)) {
                expDateError.textContent = " Expiration date field can't be empty";
                event.preventDefault();
            }
            if (isDateBeforeToday(Expiration_dateValue)) {
                expDateError.textContent = "not a valida date";
                event.preventDefault();
            }

            if (isDateBefore(Start_dateValue, Expiration_dateValue)) {
                expDateError.textContent = "expire date can't be before start date";
                event.preventDefault();
            }
            if (isEmpty(Max_usage_countValue)) {
                maxCountError.textContent = "max usage field can't be empty";
                event.preventDefault();
            }

            if (isValueLessThanZero(Max_usage_countValue)) {
                maxCountError.textContent = "usage count field can't be less than 0";
                event.preventDefault();
            }
            if (isEmpty(Discount_valueValue)) {
                discountError.textContent = "discount value field can't be empty";
                event.preventDefault();
            }
            if (isValueLessThanZero(Discount_valueValue)) {
                discountError.textContent = "discount value can't be less than 0";
                event.preventDefault();
            }
        })




    </script>
</body>

</html>