<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/css/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <title>user-management</title>
</head>

<body>
    <!-- Add the modal structure -->
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">Download Reports</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reportType" id="dailyReport" value="daily"
                            checked>
                        <label class="form-check-label" for="dailyReport">Daily Report</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reportType" id="weeklyReport" value="weekly">
                        <label class="form-check-label" for="weeklyReport">Weekly Report</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reportType" id="monthlyReport"
                            value="monthly">
                        <label class="form-check-label" for="monthlyReport">Annually Report</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reportType" id="dateRangeReport"
                            value="dateRange">
                        <label class="form-check-label" for="dateRangeReport">Date Range</label>
                    </div>
                    <div id="dateRangeInputs" style="display: none;">
                        <label for="fromDate">From:</label>
                        <input type="date" id="fromDate" name="fromDate">
                        <label for="toDate">To:</label>
                        <input type="date" id="toDate" name="toDate">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="downloadReport()">Download Report</button>
                </div>
            </div>
        </div>
    </div>
    <div class="whole">
        <%- include('../partials/admin/menu') %>



            <div class="main">
                <div class="topreport">
                    <div class="reports">
                        <div class="todaysales">
                            <div class="sales">
                                <span class="font1">Todays Sales</span>
                                <span class="font2">₹<%=totalRevenueToday%></span>
                                <span class="font1">
                                    <%=deliveryToday%> items sold
                                </span>
                            </div>
                        </div>
                        <div class="todaysorder">
                            <div class="order">
                                <span class="font1">Todays Orders</span>
                                <span class="font2">
                                    <%=ordersToday%>

                                </span>
                                <span class="font1">
                                    <%=ordersToday%> items ordered so far
                                </span>
                            </div>
                        </div>
                        <div class="todaysreturn">
                            <div class="return">
                                <span class="font1">Todays returns</span>
                                <span class="font2">

                                    <%=totalreturnToday%>
                                </span>
                                <span class="font1">
                                    <%=totalreturnToday%> items returned today
                                </span>
                            </div>
                        </div>
                        <div class="usrescount">
                            <div class="count">
                                <span class="font1">Users Count</span>
                                <span class="font2">

                                    <%=users%>
                                </span>
                                <span class="font1">Total users signedup to cleio</span>
                            </div>
                        </div>
                        <div class="totalproducts">
                            <div class="products">
                                <span class="font1">Total Products</span>
                                <span class="font2">
                                    <%=products%>
                                </span>
                                <span class="font1">
                                    <%=products%> product available
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="graphandreport">
                    <div class="graph">

                        <div class="graph-buttons" style="margin-left: 10px;">
                            <button id="btnDaily" class="btn btn-outline-primary" onclick="today()">Today</button>
                            <button id="btnDaily" class="btn btn-outline-primary" onclick="loadDaily()">Weekly</button>
                            <button id="btnMonthly" class="btn btn-outline-primary"
                                onclick="loadMonthly()">Monthly</button>
                            <button id="btnAnnually" class="btn btn-outline-primary"
                                onclick="loadAnnually()">Annually</button>
                        </div>

                        <div id="chart_div" style="width: 100%; height: 500px;"></div>
                        <button id="btnDownloadReport" onclick="salesReport()" class="btn btn-primary">Download
                            Overall Report</button>
                    </div>

                </div>
            </div>

            <script>
                function salesReport() {
                    $('#reportModal').modal('show');
                }

                function downloadReport() {
                    var reportType = $("input[name='reportType']:checked").val();
                    var fromDate = $('#fromDate').val();
                    var toDate = $('#toDate').val();


                    var downloadLink = '/admin/downloadOverallReport?type=' + reportType;

                    if (reportType === 'dateRange' && fromDate && toDate) {
                        downloadLink += '&fromDate=' + fromDate + '&toDate=' + toDate;
                    }


                    window.location.href = downloadLink;


                    $('#reportModal').modal('hide');
                }


                $('input[name="reportType"]').change(function () {
                    if ($(this).val() === 'dateRange') {
                        $('#dateRangeInputs').show();
                    } else {
                        $('#dateRangeInputs').hide();
                    }
                });
            </script>

            <script>
                var chartDom = document.getElementById('chart_div');
                var myChart = echarts.init(chartDom);
                var option;


                option = {
                    xAxis: {
                        type: 'category',
                        data: ['Today']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            data: ['<%=totalRevenueToday%>'],
                            type: 'bar',
                            barWidth: 60
                        }
                    ]
                };

                option && myChart.setOption(option);

                function today() {


                    option.xAxis.data = ['Today'];
                    option.series[0].data = ['<%=totalRevenueToday%>'];
                    myChart.setOption(option);
                }

                function loadDaily() {

                    option.xAxis.data = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
                    option.series[0].data = '<%=totalRevenueThisWeek%>'.split(',').map(Number);




                    myChart.setOption(option);
                }

                function loadMonthly() {
                    alert(JSON.stringify('<%=totalRevenueThisMonth%>'))
                    option.xAxis.data = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                    option.series[0].data = '<%=totalRevenueThisMonth%>'.split(',').map(Number);

                    myChart.setOption(option);
                }

                function loadAnnually() {

                    option.xAxis.data = Array.from({ length: 5 }, (_, index) => `${new Date().getFullYear() - index}`).reverse();


                    option.series[0].data = '<%=totalRevenueThisYear%>'.split(',').map(Number);

                    myChart.setOption(option);
                }
            </script>


            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</body>

</html>