<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/user/css/profile.css">
    <link rel="icon" href="/user/images/loadlogo.png">
    <title>Cleio | profile</title>
    <link rel="icon" href="/admin/images/users.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>

<body>
    <%- include('../partials/user/coupon') %>
        <%- include('../partials/user/nav_w_search') %>
            <div class="main">
                <div class="userdetails">
                    <div class="head">
                        <span>PROFILE</span>
                    </div>
                    <div class="first">
                        <div class="profile-picture">
                            <label for="profilePicture">
                                <img src="<%=user.Profile%>"
                                    style="background-image:url(/user/images/default_profile.jpg) ;background-position: center; background-size: contain;"
                                    id="previewImage" style="width:100%; height: 100%;">
                            </label>
                        </div>
                        <div class="right">
                            <div class="name">
                                <div class="firstname">
                                    <label for="firstname">First name</label>
                                    <input type="text" name="firstname" value="<%=user.Firstname%>" id="firstname"
                                        readonly>
                                </div>
                                <div class="secondname">
                                    <label for="secondname">Second name</label>
                                    <input type="text" name="secondname" value="<%=user.Secondname%>" id="secondname"
                                        readonly>
                                </div>
                            </div>
                            <div class="emailandmobile">
                                <div class="email">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" value="<%=user.Email%>" readonly>
                                </div>
                                <div class="phone">
                                    <label for="phone">Phone number</label>
                                    <input type="text" name="phone" id="phone" value="<%=user.Mobile%>" readonly>
                                </div>
                            </div>
                            <div class="referral">
                                <label for="referralCode">Referral Code</label>
                                <div class="input-with-copy" style="display: flex;gap:10px;">
                                    <input type="text" name="referralCode" id="referralCode"
                                        value="<%=user.referral_code%>" readonly>
                                    <div id="copyReferralCode" onclick="copyToClipboard('referralCode')"
                                        style="width: 40px; height: 25px; border: 1px solid black;display: flex; justify-content:center;align-items: center;">
                                        <img src="/user/images/copy.png" alt="" srcset=""
                                            style="width: 15px; height: 15px;">
                                    </div>
                                </div>
                            </div>

                            <div class="saveandcancel">
                                <a href="/editprofile"><button>edit</button></a>

                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
                <script>
                    function copyToClipboard(elementId) {
                        var copyText = document.getElementById(elementId);
                        copyText.select();
                        document.execCommand("copy");
                        (function () {
                            Toastify({
                                text: "Copied to clipboard",
                                className: "info",
                                style: {
                                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                                }
                            }).showToast();
                        })();

                    }
                </script>

                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#profileImage').on('load', function () {
                            console.log('Image loaded successfully');
                        }).on('error', function () {
                            console.log('Error loading image');
                            $(this).attr('src', '/user/images/add-photo.png');
                            $(this).attr('alt', 'Fallback Image');
                        });


                    });
                </script>


</body>

</html>